/* FilterBar.css */

.scroll-menu-wrapper {
    overflow-x: hidden;
  }
  
  .scroll-menu-wrapper:hover {
    overflow-x: auto;
  }

  /* .category-item {
    max-height: 80px; 
  }

  .btn-category-item {
    height: 80px; 
  } */
